@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 60px;
}

.cabecalho_menu_link {
    width: 28%;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-terciaria); 
    text-align: left;
    margin: 2px 0px 5px 0px;
}

.cabecalho_menu_link:hover {
    color: var(--cor-secundaria);
    transform: scale(1.1);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 1.7rem;
    font-family: var(--fonte-primaria) ;
}

.titulo-negrito-azul{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400; 
}

.imagem {
    width: 40%;
    border-radius: 16px;
}

.imagem-telefone {
    width: 15%;
}

.btn-contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;   
}

.apresentacao__links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;

    
}

.apresentacao__links__navegacao {
    width: 50%;
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-terciaria);
    transform: scale(1.1);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-terciaria);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}